<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url "show_my_tasks" %}">My tasks</a>
                    </li>
                    <li>
                        <a href="{% url "list_projects" %}">My projects</a>
                    </li>
                    <li>
                        <a href="{% url "logout" %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url "login" %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url "signup" %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <title></title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <h1>Create a new project</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
